{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
    #btn-sub {
        display: none;
    }

    .switch label .lever::after{
        background-color: red;
    }

    .switch label .lever{
        background-color: red;
    }

    .switch label input[type=checkbox]:checked+.lever {

        background-color: #1ffd01;

    }

    .switch label input[type=checkbox]:checked+.lever:after {

        background-color: #1ffd01;

    }

    .btn-sub{
        background: url("{{ asset('img/je_joue.png') }}") center;
        height:80px;
        width: 508px;
        font-size: 0.1px;
    }
    </style>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <img src="{{ asset('img/eafit_avec_vous.png') }}" width="100%">
        </div>
        <div class="col-md-6 offset-md-3" >
            {{ form_start(form) }}
            <div class="text-center border border-light p-5" action="{{ path('excel') }}">
                <p class="h4 mb-4">Renseignez vos coordonnées<br> pour participer au jeu EAFIT</p>


                {{ form_widget(form.nom,{'attr': {'class': 'form-control mb-4','placeholder':'Nom'}}) }}
                {{ form_widget(form.prenom,{'attr': {'class': 'form-control mb-4','placeholder':'Prénom'}}) }}
                {{ form_widget(form.email,{'attr': {'class': 'form-control mb-4','placeholder':'Email'}}) }}
                <!-- Name -->


                <!-- Default checked -->
                <label  for="customSwitch1">Recevoir la newsletter</label>
                <div class="switch">
                    <label>Non{{ form_widget(form.newsletter,{'attr': {'checked': 'checked'}}) }}<span class="lever"></span>Oui</label>
                </div>

                {{ form_widget(form.save,{'attr': {'class':'btn-sub btn col-12'}}) }}


            {{ form_end(form) }}
                </div>
        </div>

    </div>
</div>
 {#

 {{ form(form) }}

 #}
    <!-- Default form subscription -->

    <!-- Default form subscription -->

{% endblock %}
{% block javascripts %}
<script>

</script>
{% endblock %}