{% extends 'base.html.twig' %}
{% block stylesheets %}

{% endblock %}
{% block body %}
    <div class="col-12 text-center">
        <img src="{{ asset('img/main.png') }}" width="100%">
    </div>
<div class="col-12 text-center" style="padding-top: 100px">
    <a class="btn" href="{{ path('form') }}" style="padding: 0;margin:0"><img src="{{ asset('img/btn_je_participe.png') }}" ></a>
</div>
    <!-- Footer -->
    <footer class="page-footer fixed-bottom ">

        <!-- Copyright -->
        <div class="col-12 text-right font-italic">
            *Règlement du JEU CONCOURS EAFIT 2019 disponible sur demande sur place.
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->


{% endblock %}
{% block javascripts %}
    <script>
        toastr.options = {
            "closeButton": true, // true/false
            "debug": false, // true/false
            "newestOnTop": false, // true/false
            "progressBar": false, // true/false
            "positionClass": "toast-top-full-width", // toast-top-right / toast-top-left / toast-bottom-right / toast-bottom-left
            "preventDuplicates": false, //true/false
            "onclick": null,
            "showDuration": "300", // in milliseconds
            "hideDuration": "1000", // in milliseconds
            "timeOut": "5000", // in milliseconds
            "extendedTimeOut": "1000", // in milliseconds
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                toastr["{{ label }}"]("{{ message }}")
            {% endfor %}
        {% endfor %}

        function showModalLoading(texte)
        {
            $('#loadingText').text(texte);
            $('#modalLoading').modal('show');
        }

    </script>
{% endblock %}